<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krishiudyog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welscreen">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".welcomescreen" />
        <activity android:name=".Prod_Orders" />
        <activity android:name=".Display_item" />
        <activity android:name=".ShowCart" />
        <activity android:name=".ConsumerViewItem" />
        <activity android:name=".ConsumerSearchItem" />
        <activity android:name=".ConsumersHomePage" />
        <activity android:name=".ViewItems" />
        <activity android:name=".Additem" />
        <activity android:name=".ProducersHomePage" />
        <activity android:name=".ProducerLogin" />
        <activity android:name=".ConsumerLogin" />
        <activity android:name=".RegisterConsumer" />
        <activity android:name=".RegisterProducer" />
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>